#manager_list{
    margin-top: 50px;
    margin-left: 50px;
    text-align:center;
    font-size: 18px;
}
input{
    border:none;
}
#manager_list td{
    height: 50px;
    line-height: 1.5em;
    text-align: center;
}
.td_left{
    width: 150px;
}
.td_right{
    font-size: large;
    width: 600px;
    height: 50px;
    overflow: scroll;
}
img{
    align-items: left;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
textarea{
    font-size: large;
    width: 600px;
    height: 100px;
    overflow: scroll;
}
.hospital_select{
    text-align: left;
    width: 600px;
    height: 50px;
}
