#hospital_list{
   text-align:left;
    font-size: 16px;
    border-collapse:collapse;
}
input,textarea{
    border:none;
}
#hospital_list td{
    line-height: 1.5em;
    text-align: left;
    text-indent: 1em;
    border: #ccc solid 1px;
}
.td_left{
    width: 100px;
    text-align: left;
}
.td_right{;
    height: 50px;
    overflow: auto;
}
.labelList{
    display: inline-block;
    font-size: large;
    height: 100px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
}
img{
    align-items: left;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
textarea{
    height: 150px;
    font-size: 14px;
    min-width: 800px;
    overflow-y: auto;
}
.easyui-linkbutton{
    margin: 10px;
}
.labelArray{
    font-size: large;
    width: 500px;
    height: 50px;
    overflow: scroll;
}

.labelArrayText{
    display: inline-block;
    width: 200px;
}
.introductionText{
    display: inline-block;
    width: 600px;
}
.hospital_image{
    width: 100px;
    height: 106px;
}
