#modifyManager{
    text-align:left;
    font-size: 16px;
    border-collapse:collapse;
    width: 100%;
}
input,textarea{
    border:none;
}
#modifyManager td{
    line-height: 1.5em;
    text-align: left;
    text-indent: 1em;
    border: #ccc solid 1px;
}
.td_left{
    width: 100px;
    text-align: left;
}
.td_right{
    height: 30px;
    overflow: auto;
    background: none;
}
img{
    align-items: left;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
textarea{
    height: 150px;
    font-size: 14px;
    min-width: 800px;
    overflow-y: auto;
}
.easyui-linkbutton{
    margin: 10px;
}
#errorMsg{
    color:red;
    font-size: large;
    display: block;
    margin-top:10px;
    margin-left:300px;"
}