.pf_head_pic {
    height: 150px;
    padding: 2px;
    position: relative;
    width: 150px;
}
.pf_head_pic .change_btn_div {
    top: 2px;
    position: absolute;
    right: 2px;
    text-align: right;
}
.W_btn_c,.W_btn_c span{
    background-image: url("all_iconbtn.png?id=1348554801578");
}
.W_btn_c, .W_btn_c span {
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 21px;
    padding: 0 0 0 2px;
}
.W_btn_c span {
    background-position: right -390px;
    min-width: 27px;
    padding: 0 9px 0 8px;
    text-align: center;
    white-space: nowrap;
}