body{ margin:0px; padding:0px; font-size:12px; color:#333333; font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";}
div,ul,li{ margin:0px; padding:0px; list-style-type: none;}
a,input{cursor:pointer}



.font_colors01{ color:#FFFFFF; font-size:12px; font-weight:bold;}
.font_colors02{ color:#333333; font-size:14px; font-weight:bold;}
.font_colors03{ color:#333333; font-size:12px; font-weight:bold;}
.font_colors04{ color:#a5a5a5; font-size:12px;}
.font_colors05{ color:#b40001; font-size:12px;}
.font_colors06{ color:#FFFFFF; font-size:12px;}
.font_colors03{ color:#FFFFFF; font-size:30px; font-weight:bold;}

.font_colors07{ color:#FFFFFF; font-size:12px;font-weight:bold;background-color: #19355e;}
.submit_but01{ width:97px; height:29px; background:url(../images/iocn_07.jpg) no-repeat; border:0px;}
.submit_but02{ width:97px; height:29px; background:url(../images/iocn_08.jpg) no-repeat; border:0px;}
.submit_but03{ width:80px; height:57px; background:url(../images/iocn_09.jpg) no-repeat; border:0px;}
.submit_but04{ width:93px; height:24px; background: url(../images/iocn_10.png) no-repeat; border:0px;}
.submit_but05{ width:55px; height:24px; background: url(../images/btn.png) no-repeat; border:0px;color:white;}
.submit_but06{ width:65px; height:26px; background: url(../images/iocn_12.jpg) no-repeat; border:0px;}
.submit_but07{ width:50px; height:24px; background: url(../images/iocn_13.jpg) no-repeat; border:0px;}
.submit_but08{ width:46px; height:20px; background:url(../images/iocn_1.png) no-repeat; border:0px;}
.submit_but09{width:30px; height:26px; background: url(../images/ioco_07.png); border:0px; float:left;}
.submit_but10{width:145px; height:24px; background: #fff; border:0px; float:left;margin-top: 1px;margin-bottom: 1px;}

.submit_but10:hover{
	background:#7AFEC6; /* 改变背景色*/ 
}

.border_left01{ border-left:1px dotted #333333;}
.border_bottom01{ border-bottom:1px dotted #333333;}

.input_text01{ color:#a5a5a5; font-size:12px; width:122px; height:26px; background:url(../images/ioco_06.png) no-repeat; border:0px; float:left; padding-left:10px;}
.input_text02{ color:#a5a5a5; font-size:12px; width:695px;}
.input_text03{ color:#a5a5a5; font-size:12px; width:1000px;}
.input_text04{color:#333333; font-size:12px; width:120px;}
.input_text05{font-size:12px; width:30px; left:20px;}
.uoon{width:99%; height:200px; background:#FFFFFF; border:1PX solid #a4b5c9;}

.margin_top01{margin-top:10px;}
.padding_top01{ padding-top:10px;}

.link01 a:link,.link01 a:visited{color:#9f5258;font-size:12px;line-height: 14px;text-decoration: none;}
.link01 a:hover,.link01 a:active{color:#930606;font-size:12px;line-height: 14px;text-decoration: none; font-weight:bold;}
.link02 a:link,.link02 a:visited{color:#333333;font-size:12px;line-height: 14px;text-decoration: none;}
.link02 a:hover,.link02 a:active{color:#930606;font-size:12px;line-height: 14px;text-decoration: none;}

#nov_top{ width:100%; background:#000000; margin:0 auto; height:80px;}
#nov_bigsmall{ width:100%; height:80px; background: url(../images/title_bg.jpg) bottom left repeat-x; position:absolute; left:0px; top:0px; }
#nov_bigsmall span{  height:80px;display: block; float:left; line-height:80px;}

#nov_nr{ margin:80 0 0 0; height:80%; width:100%;}




h1{ color:white; font-size:12px; background: url(../images/ioco_01.png) left top no-repeat; padding-left:25px; height:24px;}
h2{ margin-left:5px; font-size:12px; color:#B3000E; background: url(../images/iocn_06.jpg) center left no-repeat; padding-left:20px;}
.disblock{ display:block;}
.disblock2{ width:50%; display:block; float:left;}
.nov_moon{ width:100%; height:auto; background:#ebebe6; margin-top:10px; float:left;}
.nov_moon2{ height:160px; overflow:auto; width:1023px; background:#ebebe6; margin-top:10px; float:left;}
.divmargin{ width:100%; height:20px; float:left;}

#left_login{width:187px; background-color:#0066CC; height:640px;width锛�00%; position:absolute; top:80px; left:0px;}
#left_loginov{width:187px; position:absolute; top:100px; left:0px; height:auto;}
#login_cai{ width:187px; height:370px; float:left;}

#login_ren{ width:187px; height:260px; float:left;}
#login_ren ul{ margin-left:15px;}
#login_ren li{ background: url(../images/iocn_14.jpg) left center no-repeat; padding-left:15px;}
.cc01 a{ background:url(../images/ioco_03.png) left top no-repeat; padding-left:15px; color:#9f5258; text-decoration: none;}
.cc02 a{ background:url(../images/ioco_04.png) left center no-repeat; padding-left:15px; color:#930606; text-decoration: none; font-weight:bold;}
.cc03 a{ background:url(../images/ioco_05.png) left center no-repeat; padding-left:15px; color:#333333; text-decoration: none;}
.cc04 a{ background:url(../images/ioco_05_1.png) left center no-repeat; padding-left:15px; color:#930606; text-decoration: none;}
.cc100 a{ background:url(../images/iocn_14.jpg) left center no-repeat; padding-left:15px; color:#9F5258; text-decoration: none;}
#login_cai ul{ display:block; padding-left:12px;}
.cc_ul{float:left; height:auto;}
#lefttog {
	position:absolute;
	left:167px;
	top:289px;
	width:9px;
	height:95px;
	z-index:1;
}
.uoon{width:99%; height:380px; background:#FFFFFF; border:1PX solid #a4b5c9;}