<
style type    ="text /css">* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,img {
	border: 0;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	height: 100%;
	_padding: 0 20px 0 0;
	background: #EDEDED;
	display: none;
}

.showbox {
	position: fixed;
	top: 0;
	left: 30%;
	z-index: 9999;
	opacity: 0;
	filter: alpha(opacity =         0);
	margin-left: -80px;
}

.untreadReason {
	position: fixed;
	top: 0;
	left: 25%;
	top: 25%;
	z-index: 9999;
	opacity: 0;
	display: none;
	filter: alpha(opacity =         0);
	margin-left: -80px;
}

* html,* html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}

* html .showbox,* html .overlay,* html.untreadReason,* html.son_div,* html.son2_div
	{
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop) );
}

#AjaxLoading {
	border: 1px solid #EDEDED;
	color: #37a;
	font-size: 12px;
	font-weight: bold;
}

#untreadReason {
	border: 1px solid #F5FFFA;
	color: #6496ED;
	font-size: 12px;
	font-weight: bold;
}

#untreadReason div.reasons {
	width: 400px;
	height: 100%;
	line-height: 20px;
	border: 1px solid #EDEDED;
	background: #F5FFFA;
}

#AjaxLoading img {
	margin: 10px 15px;
	float: left;
	display: inline;
}

.son_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}
.son_divzl {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 160px;
	display: none;
}
.his_div_meetinfo {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 140px;
	display: none;
}
.son_div_meetinfo {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

.seat_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

.add_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}
.addmeal_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

.edit_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

.sson_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

.tc_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}
.tc_div1 {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}
.meetdata_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}
.check_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}
.editcheck_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}
.son2_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#son_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 600px;
	height: 423px;
	top: -160px;
	left: 200px;
}
#son_divzl {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 600px;
	height: 423px;
	top: -160px;
	left: 200px;
}
#his_div_meetinfo {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 800px;
	height: 450px;
	top: -200px;
	left: 100px;
}
#son_div_meetinfo {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 800px;
	height: 450px;
	top: -200px;
	left: 100px;
}

.cson_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#cson_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 600px;
	height: 423px;
	top: -500px;
	left: 200px;
}

#cson_div div.sonpage {
	line-height: 30px;
	border: 2px solid #EDEDED;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-color: RGB(217, 231, 248);
}

.editStatic_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#editStatic_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 670px;
	height: 400px;
	top: -200px;
	left: 200px;
}

#editStatic_div div.sonpage {
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

}
#seat_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 300px;
	height: 223px;
	top: -200px;
	left: 90%;
}

#add_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 800px;
	height: 500px;
	top: -200px;
	left: 90px;
}
#addmeal_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 710px;
	height: 430px;
	top: -200px;
	left: 200px;
}

#seat_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#add_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#addmeal_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.page_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#page_div {
	color: black;
	font-size: 13px;
	font-weight: bold;
	border: solid 1.5px;
	width: 700px;
	height: 450px;
	top: -200px;
	left: 100px;
}

#page_div div.sonpage {
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

#edit_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 800px;
	height: 500px;
	top: -200px;
	left: 90px;
}

#edit_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.editMeal_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#editMeal_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 710px;
	height: 430px;
	top: -200px;
	left: 200px;
}

#editMeal_div div.sonpageEditMeal {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.changeImage_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#changeImage_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 400px;
	height:400px;
	top: -200px;
	left: 40%;
}

#changeImage_div div.sonpageChangeImage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

#sson_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 400px;
	height: 323px;
	top: -180px;
	left: 500px;
}
#tc_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 400px;
	height: 360px;
	top: -180px;
	left: 370px;
}
#tc_div1 {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 400px;
	height: 360px;
	top: -180px;
	left: 120px;
}
#meetdata_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 350px;
	height: 280px;
	top: -100px;
	left: 120px;
}
#check_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 350px;
	height: 280px;
	top: -100px;
	left: 120px;
}
#editcheck_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 350px;
	height: 280px;
	top: -100px;
	left: 120px;
}
#son2_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid RGB(153, 187, 232) 3px;
	width: 600px;
	height: 400px;
	top: -100px;
	left: 200px;
}
#tc_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#seat_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#tc_div1 div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#meetdata_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#check_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#editcheck_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#sson_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#son_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#son_divzl div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#his_div_meetinfo div.sonpage_his {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#son_div_meetinfo div.sonpage_meetinfo {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#company_div div.sonpageCompany {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.company_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#company_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 350px;
	height: 280px;
	top: -100px;
	left: 380px;
}


#agenda_div div.sonpageagenda {
	line-height: 35px;
	width: 700px;
	height: 35px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.agenda_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#agenda_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 700px;
	height: 400px;
	top: -180px;
	left: 10%;
}

#agendaEdit_div div.sonpageagendaEdit {
	line-height: 35px;
	width: 700px;
	height: 35px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.agendaEdit_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#agendaEdit_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 700px;
	height: 400px;
	top: -180px;
	left: 10%;
}

#meetGroupAdd_div div.sonpageMeetGroupAdd {
	line-height: 35px;
	width: 600px;
	height: 35px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.meetGroupAdd_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#meetGroupAdd_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 600px;
	height: 450px;
	top: -180px;
	left: 10%;
}

#meetGroupEdit_div div.sonpageMeetGroupEdit {
	line-height: 35px;
	width: 600px;
	height: 35px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.meetGroupEdit_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#meetGroupEdit_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 600px;
	height: 400px;
	top: -180px;
	left: 10%;
}

.check_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}
.editcheck_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: 80px;
	display: none;
}

#check_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 350px;
	height: 280px;
	top: -100px;
	left: 120px;
}
#editcheck_div {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 350px;
	height: 280px;
	top: -100px;
	left: 120px;
}

#check_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
#editcheck_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

#cson_div div.sonpage {
	line-height: 35px;
	border: 2px solid #EDEDED;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-color: RGB(217, 231, 248);
}

.panel {
	border: solid RGB(153, 187, 232) 1px;
	width: 300px;
	height: 400px;
	top: 0px;
	left: 0px;
}

.head {
	width: 100%;
	height: 20px;
	border-bottom: solid RGB(153, 187, 232) 1px;
	background-color: RGB(217, 231, 248);
}

.title {
	height: 20px;
	line-height: 20px;
	float: left;
	font-size: 10pt;
}

.toolbar {
	float: right;
}

.button {
	cursor: hand;
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 2px;
	background-position: center;
	background-repeat: no-repeat;
}

#button1 {
	background-image: url(img/close.jpg);
}

.content {
	height: 379px;
	background-color: gray;
}

.pagelinks {
	line-height: 33px
}

.pagelinks a {
	border: 1px solid #AAAAAA;
	background-color: #DDDDDD;
	color: #333333 !important;
	cursor: pointer;
	margin: 0 3px;
	padding: 2px 5px;
}

.contacts_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#contacts_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 400px;
	height: 200px;
	top: -100px;
	left: 300px;
}

#contacts_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}

.contactsEdit_div {
	position: fixed;
	top: 0;
	left: 10%;
	z-index: 999;
	margin-left: -80px;
	display: none;
}

#contactsEdit_div {
	color: #37a;
	font-size: 12px;
	font-weight: bold;
	border: solid 1.5px;
	width: 400px;
	height: 200px;
	top: -100px;
	left: 300px;
}

#contactsEdit_div div.sonpage {
	line-height: 30px;
	width: 100%;
	height: 30px;
	border-bottom: solid RGB(153, 187, 232) 2px;
	background-image: url("../images/detailtitle_bg.png");
	background-size: 100% 100%;
}
</
style
>